<div class="container mt-5 mb-5">
  <div class="card container rounded-4" style="width: 30rem;">
    <div class="mb-3 mt-3">
      <label for="Name" class="form-label">nombre</label>
      <input type="text" class="form-control" #name>
    </div>
    <div class="mb-3">
      <label for="LastName" class="form-label">Apellidos</label>
      <input type="text" class="form-control" #lastName>
    </div>
    <div class="mb-3">
      <label for="Identification" class="form-label">identificacion</label>
      <input type="number" class="form-control" #identification>
    </div>
    <div class="mb-3">
      <label for="Email" class="form-label">Correo</label>
      <input type="email" class="form-control" #email>
    </div>
    <div class="mb-3">
      <label for="Address" class="form-label">Direccion</label>
      <input type="text" class="form-control" #address>
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" #password>
    </div>
    <div class="text-center mb-3">
      <button type="button" (click)="add(name.value, lastName.value, identification.value, email.value,  address.value, password.value)" class="btn btn-success my-3">Agregar</button>
    </div>
  </div>
</div>

